﻿;-------------------------------------------------
;TITLE State
;시스템에 의해 호출되는 함수. 단 @SYSTEM_TITLE이 정의되어 있어야 한다.
;최초 구동 시, LOADGLOBAL로 GLOBAL(S)을 로드한다. (global.sav)
;최초시작(0)의 경우 RESETDATA로 GLOBAL을 제외한 모든 변수를 초기화 및 FIRST State로 천이한다.
;계속하기(1)의 경우 LOADGAME State로 천이한다.
;-------------------------------------------------
@SYSTEM_TITLE
REDRAW 0
; 타이틀 로고 출력
CUSTOMDRAWLINE ━
RESULT = RAND(TITLE_COUNT)
SELECTCASE RESULT
CASE 1
	HTML_PRINT "<p align='center'><img src='Title2' height='2000'></p>"
	FOR LOCAL, 0, 19
		HTML_PRINT "<br>"
	NEXT
CASEELSE
	LOCALS = Title{RESULT + 1}
	HTML_PRINT @"<p align='center'><img src='%LOCALS%' height='2500'></p>"
	FOR LOCAL, 0, 24
		HTML_PRINT "<br>"
	NEXT
ENDSELECT
ALIGNMENT CENTER
CUSTOMDRAWLINE ━
PRINTFORML %GAMEBASE_TITLE%
PRINTFORML Ver%GET_VERSION_STRING(GAMEBASE_VERSION)%
PRINTFORML (%GAMEBASE_YEAR%)
PRINTL
PRINTFORML %GAMEBASE_INFO%
PRINTFORML Updated by %GAMEBASE_AUTHOR%

; 타이틀 버튼 출력
CUSTOMDRAWLINE ━
PRINTBUTTON " 0[처음부터 시작한다]", 0
PRINTL 
PRINTBUTTON " 1[로드해서 시작한다]", 1
PRINTL 
;PRINTBUTTON " 2[커스텀캐릭터]", 2
;PRINTL
ALIGNMENT LEFT
PRINTL 

; 입력 루프
$INPUT_LOOP
INPUT
IF RESULT == 0
	RESETDATA
	BEGIN FIRST
ELSEIF RESULT == 1
	CALL LOADGAME_EX
	RESTART
;ELSEIF RESULT == 2
;	CALL CUSTOM_CHARA_MENU
;	RESTART
ENDIF
CLEARLINE 1
REUSELASTLINE 유효하지 않은 값입니다
GOTO INPUT_LOOP

;-------------------------------------------------
;FIRST State
;BEGIN FIRST 실행 시, @EVENTFIST가 호출된다
;반드시 다음 State로 천이(BEGIN)가 이루어져야한다.
;-------------------------------------------------
@EVENTFIRST
LOADGLOBAL
;초기화 처리
CALL INIT_NEWGAME

;CALL NEWLOOP

BEGIN SHOP

;-------------------------------------------------
;뉴 게임시의 초기화 처리
;-------------------------------------------------
@INIT_NEWGAME
;주차, 날짜 초기화
FLAG:주차수 = 0
DAY = 1
CALL CALENDAR_INIT
TIME = 0

;조교 대상, 조수 초기화
TARGET = -1
ASSI = -1

;당신 추가
ADDCHARA 0

;사정, 요의, 배설욕 최대값 설정
MAXBASE:MASTER:사정 = 10000
MAXBASE:MASTER:요의 = 10000
MAXBASE:MASTER:배설욕 = 10000

;초기금액
MONEY:자원_참치 = 0
MONEY:자원_부품 = 0
MONEY:자원_영양 = 0
MONEY:자원_전력 = 0

FLAG:전투원대기실 = 전투원대기실_초기값
FLAG:총조교시간 = 총조교시간_초기값

CALL INIT_COMMON

;게임 모드 선택
;CALL SELECT_GAMEMODE
;난이도 선택
CALL SELECT_DIFFICULTY

;시나리오로 획득하는 캐릭터를 추가한다. (콘스탄챠, 그리폰)
CALL LAO_ADD_CHARA_FROM_CSV(3)
CALL LAO_ADD_CHARA_FROM_CSV(92)

FLAG:시나리오진행도 = 0
FLAG:스토리진행도 = 0
TRYCALLFORM CHAPTER{FLAG:시나리오진행도}_{FLAG:스토리진행도}

;--------------------------------------------------
;난이도 선택
;--------------------------------------------------
@SELECT_DIFFICULTY
DRAWLINE
PRINTL ★★ 난이도를 선택하세요 ★★
PRINTL 
DRAWLINE
PRINTL [1] EASY
PRINTL [2] NORMAL
PRINTL [3] HARD
PRINTL [100] HELP   (각 난이도의 설명)
$INPUT_LOOP_DIFFICULTY
INPUT
IF RESULT == 100
    DRAWLINE
    PRINTL EASY     ：자원 각10000으로 시작, 철충의 스탯 80% (파생 조교 가이드)
    PRINTL NORMAL   ：자원 각 5000으로 시작, 철충의 스탯 100%
    PRINTL HARD     ：자원 각 2000으로 시작, 철충의 스탯 120%
    DRAWLINE
    RESTART
ELSEIF RESULT == 1
    PRINTW 난이도 : “EASY”를 선택했습니다.
	MONEY:자원_부품 = 10000
	MONEY:자원_영양 = 10000
	MONEY:자원_전력 = 10000
	FLAG:난이도 = 난이도_이지
	FLAG:파생조교출력플래그 = 1
ELSEIF RESULT == 2
    PRINTW 난이도 : “NORMAL”을 선택했습니다.
	MONEY:자원_부품 = 5000
	MONEY:자원_영양 = 5000
	MONEY:자원_전력 = 5000
	FLAG:난이도 = 난이도_노멀
ELSEIF RESULT == 3
    PRINTW 난이도 : “HARD”를 선택했습니다.
	MONEY:자원_부품 = 2000
	MONEY:자원_영양 = 2000
	MONEY:자원_전력 = 2000
	FLAG:난이도 = 난이도_하드
ELSE
    GOTO INPUT_LOOP_DIFFICULTY
ENDIF
FLAG:난이도 = RESULT

;-------------------------------------------------
;로드시와 뉴 게임시의 공통 초기화 처리
;-------------------------------------------------
@INIT_COMMON
;글로벌 변수의 read
LOADGLOBAL

;COS의 값을 사전에 계산해 리스트에 기록한다
FOR LOCAL:0, 0, 360
	COS_LIST:(LOCAL:0) = CALC_COS(LOCAL:0)
NEXT

;축제리스트를 추가한다
CALL SET_FESTIVAL_DAY

; 랜덤 가능한 소질 리스트 설정
CALL LAO_RANDOMABLE_TALENT_INIT

;임신계 플래그
FLAG:임신기간 = 20
FLAG:육아기간 = 20

; Train 메뉴 리스트 초기화
CALL LAO_MENU_LIST_INIT

; Rank 역치 초기화
CALL LAO_RANK_INIT

; 배경 이미지 초기화
CALL LAO_BACKGROUND_IMAGE

; 캐릭터 유전자 씨앗 조건 초기화
CALL LAO_INIT_SEEDRATE

; 아이템의 개발 기간을 설정
;CALL SET_ITEMTERM

;랜덤 캐릭터의 이름 후보 리스트를 작성 (미개발)
;CALL CREATE_NAME_LIST

;문신의 랜덤 입력 내용 리스트를 작성
CALL CREATE_TATTOO_LIST

;데일리 맵을 제작
;CALL CREATE_DAILY_MAP

;구상 데일리 맵을 제작
;CALL CREATE_KOJO_DAILY_MAP

;탐색 맵을 작성
;CALL CREATE_TERRITORY_EVENT_MAP()

;헬프 맵을 제작
;CALL CREATE_HELP_MAP

CALL SET_ABL_MIN_MAX

;-------------------------------------------------
;능력치의 최소·최대를 설정
;-------------------------------------------------
@SET_ABL_MIN_MAX()
FOR LOCAL:0, 0, 90
	ABL_MIN:(LOCAL:0) = 0
	ABL_MAX:(LOCAL:0) = 9999
NEXT
;성장 랭크
FOR LOCAL:0, 40, 49
	ABL_MIN:(LOCAL:0) = 0
	ABL_MAX:(LOCAL:0) = 6
NEXT
ABL_MAX:GETNUM(ABL,"성지식") = 5
ABL_MAX:GETNUM(ABL,"레벨") = 100
ABL_MIN:GETNUM(ABL,"도착도") = 0
ABL_MAX:GETNUM(ABL,"도착도") = 1000


;[라이센스] 퍼블릭 도메인
;본 파일에 관계된 저작권을 포기한다.
;본 파일에 관계된 저작인격권은 행사하지 않는다.
;2009/3/28 MinorShift(Emuera 제작자)

;독자적인 세이브 · 로드 시스템의 예 (Emuera  ver 1.50 이후 대상)
;LOADGAME 대신에 CALL LOADGAME_EX、SAVEGAME 대신에 CALL SAVEGAME_EX를 실행해주세요.
;실제로 사용하려면 옛날 @SAVEINFO에 맞추어 @SAVEINFO_EX를 편집할 필요가 있습니다.
;사용하고 있는 명령의 자세한 내용에 관해서는 Emuera의확장문법.txt를 참조해주세요.
;-------------------------------------------------
;저장된 정보를 프린트
;ARG:1 = SAVE:0 LOAD:1
;CHKDATA RESULT 로드가능:0, 파일없음:1, 코드다름:2, 버전다름:3, 기타문제:4
;-------------------------------------------------
@PRINT_SAVEDATA, ARG:0, ARG:1
FOR LOCAL, ARG:0 * 10, (ARG:0 + 1) * 10, 1
    CHKDATA LOCAL
;    마지막에 갱신된 게 어느 것인지를 표시.
    IF RESULT != 1 && ((ARG:0 < 9 && GLOBAL:0 % 100 == LOCAL) || (ARG:0 == 9 && (!(GLOBAL:0 / 100) ? 9 # GLOBAL:0 / 100 - 1) == LOCAL - 90))
        SETCOLOR 102, 255, 255
        PRINT >
    ELSE
        PRINT  
    ENDIF
;    버전이 달라도 일단 읽어들이는 건 가능하도록.
    IF ARG:1 && (RESULT == 1 || RESULT == 2 || RESULT == 4)
        SETCOLOR 255, 191, 191
        PRINTFORM -{ LOCAL, 2, RIGHT }-
    ELSE
        SETCOLOR 191, 191, 255
;    마지막에 갱신된 게 어느 것인지를 표시.
    SIF RESULT != 1 && ((ARG:0 < 9 && GLOBAL:0 % 100 == LOCAL) || (ARG:0 == 9 && (!(GLOBAL:0 / 100) ? 9 # GLOBAL:0 / 100 - 1) == LOCAL - 90))
        SETCOLOR 102, 255, 255
        PRINTFORM [{ LOCAL, 2, RIGHT }] 
    ENDIF
    
    IF RESULT == 1
        PRINTFORML % "파일이 없습니다", 47, RIGHT %
    ELSEIF RESULT == 2
        PRINTFORML % "다른 타이틀의 세이브 파일입니다", 53, RIGHT %
    ELSEIF RESULT == 4
        PRINTFORML % "읽을 수 없는 형식의 파일입니다", 51, RIGHT %
    ELSE
        PRINTFORML % RESULTS %
    ENDIF

    RESETCOLOR
NEXT

;-------------------------------------------------
;LOADGAME State
;시스템에서 ??? 호출되는 함수. 단 @TITLE_LOADGAME 정의되어 있어야 한다.
; - 주: 시스템 명령 LOADGAME 호출 시 자동으로 호출되지 않음. LOADGAME 쓰지말자..
;LOADDATA가 성공하는 경우, LOADDATAEND State로 천이한다.
;로드를 하지않고 돌아가는 경우, TITLE State로 돌아간다.
;-------------------------------------------------
@TITLE_LOADGAME
CALL LOADGAME_EX
RETURN

;TOHOYM LOAD 방식 그대로 사용함.
@LOADGAME_EX
LOADGLOBAL

LOCAL = 0
$LIST_LOOP
PRINT 어떤 걸 불러오겠습니까? 
SIF LOCAL == 9
	PRINT (자동저장)
PRINTL

CALL PRINT_SAVEDATA, LOCAL, 1

PRINTL [100] 돌아가기     [101] 이전 페이지  [102] 다음 페이지  

$INPUT_LOOP
INPUT

IF (RESULT == 100)
    RETURN
ELSEIF (RESULT == 101 || RESULT == 102)
    IF RESULT == 101
        LOCAL -= 1
        SIF LOCAL < 0
            LOCAL = 9
    ELSE
        LOCAL += 1
        SIF LOCAL > 9
            LOCAL = 0
    ENDIF
    GOTO LIST_LOOP
ELSEIF RESULT < 0 || RESULT >= 100
    REUSELASTLINE 
    GOTO INPUT_LOOP
ELSE
    LOCAL = RESULT
    CHKDATA LOCAL
    ;RESULT == 0이라면 로드 가능
    IF (RESULT != 0 && RESULT != 3)
        GOTO INPUT_LOOP
    ENDIF
    LOADDATA LOCAL
ENDIF

;-------------------------------------------------
;LOADDATAEND State
;시스템 명령 LOADDATA에 의해 호출되는 함수. 단 @SYSTEM_LOADEND 정의되어 있어야 한다.
;LOADDATA 명령이 실행된 후, 호출 중인 함수 등 지금까지의 상태는 모두 삭제된다.
;BEGIN 명령이 이뤄지면 그쪽으로 천이된다. 아니면 @EVENTLOAD를 실행한다.
;두 사용자 정의 함수에서 천이가 일어나지 않은 경우, SHOP State로 천이한다.
;-------------------------------------------------
@SYSTEM_LOADEND
; Do Something if you want

@EVENTLOAD
;현행 ver. 이전의 데이터를 읽었을 경우에는 수정 처리로
SIF LASTLOAD_VERSION < GAMEBASE_VERSION
    CALL UPDATE
	
;로드시의 초기화 처리
CALL INIT_COMMON
		
;-------------------------------------------------
;SAVEGAME State
;SAVEGAME 명령 실행 시, 기록되기 직전에 @SaveInfo가 호출된다.
;@SAVEINFO가 끝나는 경우, SAVEDATA가 호출된다.
;-------------------------------------------------
@SAVEGAME_EX
LOCAL = 0

$LIST_LOOP
PRINTL 어디에 저장하겠습니까?

CALL PRINT_SAVEDATA, LOCAL, 0

PRINTL [100] 돌아가기          [101] 이전 페이지  [102] 다음 페이지

$INPUT_LOOP
INPUT

IF (RESULT == 100)
    RETURN
ELSEIF RESULT == 101 || RESULT == 102
    IF RESULT == 101
        LOCAL -= 1
        SIF LOCAL < 0
            LOCAL = 8
    ELSE
        LOCAL += 1
        SIF LOCAL > 8
            LOCAL = 0
    ENDIF
    GOTO LIST_LOOP
ELSEIF RESULT < LOCAL * 10 || RESULT >= (LOCAL + 1) * 10
    REUSELASTLINE 
    GOTO INPUT_LOOP
ELSE
    LOCAL:1 = RESULT
    CHKDATA LOCAL:1
    ;RESULT == 1은 "파일이 없음"
    IF RESULT != 1
        PRINTL 이미 데이터가 존재합니다. 덮어쓰겠습니까?
        PRINTLC [0] 예
        PRINTLC [1] 아니오
        PRINTL
        $INPUT_LOOP_2
        INPUT
        IF RESULT == 1
            GOTO LIST_LOOP
        ELSEIF RESULT != 0
            GOTO INPUT_LOOP_2
        ENDIF
    ENDIF
    GLOBAL:0 = GLOBAL:0 / 100 * 100 + LOCAL:1
    SAVEGLOBAL
    SAVEDATA LOCAL:1, SAVEINFO_EX()
ENDIF

@SAVEINFO_EX
#FUNCTIONS
;    SAVEDATA 명령은 @SAVEINFO 함수를 부르지 않으므로 PUTFORM 대신의 문자열을 준비할 필요가 있다

;출력 문장: 시간 X일째 페이즈 타겟이름 게임모드 난이도 회차
GETTIME
LOCALS = %RESULTS% {DAY,4,RIGHT}일째 \@ !TIME ? 일상 # 전략 \@ 
		
SIF TARGET >= 0
    LOCALS = %LOCALS% %NAME:TARGET% \@ (TALENT:친애 || TALENT:상애) ? 열애중 # 조교중 \@

IF FLAG:게임모드 == 0
	LOCALS = %LOCALS% LastOrigin
ELSE
	LOCALS = %LOCALS% 수수께끼
ENDIF	

;난이도의 표기를 변경
IF FLAG:난이도 == 3
    LOCALS = %LOCALS% 하드 
ELSEIF FLAG:난이도 == 2
    LOCALS = %LOCALS% 노멀 
ELSEIF FLAG:난이도 == 1
    LOCALS = %LOCALS% 이지 
ELSE
    LOCALS = %LOCALS% 수수께끼 
ENDIF

SIF FLAG:게임모드 == 0
    LOCALS = %LOCALS% ({FLAG:주차수}회차)
;SIF FLAG:엔드리스플레이 & 1
;    LOCALS = %LOCALS% ∞

RETURNF LOCALS

;-------------------------------------------------
;오토 세이브의 처리를 독자적으로 행할 경우, @SYSTEM_AUTOSAVE를 정의한다
;@SYSTEM_AUTOSAVE가 정의되어 있으면, 표준의 오토 세이브 대신에 SYSTEM_AUTOSAVE가 불린다.
;-------------------------------------------------
@SYSTEM_AUTOSAVE
;글로벌 변수로 자동 세이브의 번호 확인. -주: 이미 이시점에 메모리에 있지 않나??
;LOADGLOBAL

LOCAL = GLOBAL:0 % 100
GLOBAL:0 /= 100

SAVEDATA (90 + GLOBAL:0), SAVEINFO_EX()

GLOBAL:0 += 1
SIF GLOBAL:0 > 9
    GLOBAL:0 = 0

GLOBAL:0 = GLOBAL:0 * 100 + LOCAL

SAVEGLOBAL
