﻿;Train.erb
;조교관련 함수
; 기본적으로 아래 순서를 따른다.
; @EVENTTRAIN -> {@SHOW_STATUS -> @SHOW_USERCOM -> @USERCOM -> @EVENTCOM -> @COM_XX -> @EVENTCOMEND} -> @EVENTEND
;============================================================================== 
;TRAIN State
;@EVENTTRAIN: BEGIN Train 후 호출되는 시스템함수
;시작하기 전에 ASSIPLAY, PREVCOM, NEXTCOM에 -1이 대입되고,
;TFLAG 전부를 0으로, 모든 캐릭터의 GOTJUEL, TEQUIP, EX, PALAM, SOURCE를 전부 0으로 한다.
;마지막으로 모든 캐릭터의 STAIN을 _Replace의 더러움 초기치로 초기화한다.

;EVENTTRAIN PRI:	조교 시작 시 초기화 작업을 한다.
;EVENTTRAIN MAIN: 	조교 시작 이벤트를 호출한다.
;EVENTTRAIN LATER:	개별 이벤트 후 조교에 영향을 주는 요소 처리를 한다.
;============================================================================== 
@EVENTTRAIN
#PRI

SIF TARGET < 0
	RETURN 0
	
; 초기화 및 기록갱신
CBGCLEAR
; 주인 
PLAYER = MASTER
BASE:MASTER:사정 = 0
BASE:MASTER:발기 = 0

;주도권 초기화
ATTACKER = PLAYER
DEFENDER = TARGET

; 타겟
BASE:모유 = 0
BASE:요의 = 0
BASE:배설욕 = 0

; 더러운 정도 세팅
CALL INIT_SMEGMA

; 평상시, 음핵, 유두 사이즈는 최대 사이즈의 80 ~ 90%
IF GETBIT(CFLAG:상태플래그, 상태_발정)
	BASE:음핵 = MAXBASE:음핵
	BASE:유두 = MAXBASE:유두
ELSE
	BASE:음핵 = MAXBASE:음핵 * (RAND:10 + 80) / 100
	BASE:유두 = MAXBASE:유두 * (RAND:10 + 80) / 100
ENDIF

CFLAG:마지막조교일 = SET_TODAY()
FLAG:마지막조교자 = TARGET

; 의상 정보를 가져온다.
FOR LOCAL, 40, 50
	TEQUIP:LOCAL = EQUIP:LOCAL
NEXT

;조교 시작 시 장착계 초기화
VARSET TEQUIP, 0, 0, 20

TFLAG:조교남은시간 = FLAG:총조교시간
CALL SET_TRAIN_LOCATION(위치_침실)

@EVENTTRAIN	
;개시시 구상 호출
TRYCCALLFORM  EVENTTRAIN_K{NO:TARGET}
CATCH
	PRINTL 범용 캐릭터 개시 구상 출력
	;CALLFORM  EVENTTRAIN_K_EXTRA
ENDCATCH

@EVENTTRAIN
#LATER
; 최종적으로 출력 및 조교 시작에 반영되는 요소

; 현재 설정된 위치의 배경을 출력한다.
CALL PRINT_TRAIN_BACKGROUND

SETANIMETIMER 150
CBGSETSPRITE "앨리스스킨", 800, 0, 1

;============================================================================== 
;TRAIN State
;@SHOW_STATUS: 조교시 조교 상태를 출력하는 시스템 함수
;종료 후 자동으로 COMABLE한 TRAIN에 대해 조교 목록을 출력한다. (DEFAULT)
;지금 구조는 모든 COM_ABLE##은 0을 리턴하여 조교목록을 출력하지 않고 EX_COM_ABLE을 이용해 따로 리스트를 출력한다.
;SHOW_USERCOM 호출 후, 입력 전에 UP, DOWN, LOSEBASE를 초기화한다.

;출력정보
;[시간 정보] [조교남은시간정보] [위치정보]
;[캐릭터이미지] [이름] [상시표기경험]
;[캐릭터이미지] [체력바]  [모유량] [요의량]
;[캐릭터이미지] [기력바]  [모유량] [요의량]
;[캐릭터이미지] [의상정보] [모유]  [요의]
;[캐릭터이미지] [주인정보] [사정바]
;[캐릭터이미지] [조수정보] [버프리스트]
;[파라미터정보들]
;[파라미터정보들]
;[파라미터정보들]
;[파라미터정보들]
;[M상태이미지] [B상태이미지] [CV상태이미지] [A상태이미지]
;[M상태이미지] [B상태이미지] [CV상태이미지] [A상태이미지]
;[M상태이미지] [B상태이미지] [CV상태이미지] [A상태이미지]
;[M상태이미지] [B상태이미지] [CV상태이미지] [A상태이미지]
;[M상태이미지] [B상태이미지] [CV상태이미지] [A상태이미지]
;[조교 계열 버튼]
;============================================================================== 
@SHOW_STATUS
#DIM iWidth = 600
#DIM iHeight = 600
#DIM TextMargin

FLAG:라인카운트 = LINECOUNT

;이미지 선출력
HTML_PRINT @"<shape type='space' param='4370'><img src='프레임_발정' width='{200}' height='{190}' ypos='{600}'>  <img src='프레임_발정' width='{200}' height='{200}' ypos='{600}'>"
CALL SHOW_CHARACTER_ICON(TARGET, CFLAG:TARGET:스킨, iWidth, iHeight, 400)

; 일자, 시간, 남은시간, 현재 위치
CALL CALENDAR_PRINT,0
PRINTFORM \@(TIME == 0) ? (낮) # (밤)\@
PRINTFORM  조교시간({TFLAG:조교남은시간,3}/{FLAG:총조교시간})
PRINTFORM  위치: 
CALL COLORPRINT(@"[%GET_TRAIN_LOCATION()%]", 칼라_초록)
PRINTL
CUSTOMDRAWLINE ━

; 이미지 이름 조교정보
TextMargin = iWidth + 100
PRINT_SPACE TextMargin
CALL COLORPRINT(@"%NAME:TARGET,16,LEFT%", TALENT:머리색)
PRINTFORM  (호감도: {CFLAG:호감도,5} 조교경험: {EXP:주인조교경험,5} 애정경험: {EXP:애정경험,5})   
PRINTL

; 이미지 체력 ------------- ㅁ ㅁ
PRINT_SPACE TextMargin
PRINTFORM 체력: 
{
CALL PRINT_RATE_BAR(
	BASE:체력, MAXBASE:체력,
	LEN_BAR_GRA_RATE, LEN_BAR_LONG,
	칼라_체력1, 칼라_체력2, 칼라_흰색,
	0x0002)
}
PRINTFORM  ({BASE:체력,5}/{MAXBASE:체력,5})
PRINT    
CALL PRINT_RECTBAR_HEIGHT(BASE:모유, MAXBASE:모유, 90, 칼라_흰색)
PRINT   
CALL PRINT_RECTBAR_HEIGHT(BASE:요의, MAXBASE:요의, 90, 칼라_노랑)
PRINTL

; 이미지 기력 ------------- ㅁ ㅁ
PRINT_SPACE TextMargin
PRINTFORM 기력: 
{
CALL PRINT_RATE_BAR(
	BASE:기력, MAXBASE:기력,
	LEN_BAR_GRA_RATE, LEN_BAR_LONG,
	칼라_기력1, 칼라_기력2, 칼라_흰색,
	0x0102)
}
PRINTFORM  ({BASE:기력,5}/{MAXBASE:기력,5})
PRINTL

; 이미지 의상정보            모유 요의
PRINT_SPACE TextMargin
출력된문자열길이 = 0
FOR LOCAL, GETNUM(EQUIP, "상의"), GETNUM(EQUIP, "악세사리") + 1
	IF TEQUIP:LOCAL
		LOCALS = [%EQUIPNAME:LOCAL%:%ITEMNAME:(TEQUIP:LOCAL)%] 
		출력된문자열길이 += STRLENS(LOCALS)
		PRINTFORM %LOCALS%
	ENDIF
NEXT
SIF 출력된문자열길이 < 70
	PRINTFORM %" " * (72 - 출력된문자열길이)%
PRINT [모유][요의]
PRINTL

;주인정보 사정 
PRINT_SPACE TextMargin
PRINTFORM 조교자: %NAME:PLAYER,12,LEFT%사정: 
{
CALL PRINT_RATE_BAR(
	BASE:PLAYER:사정, MAXBASE:PLAYER:사정,
	LEN_BAR_GRA_RATE, 15,
	칼라_사정1, 칼라_사정2, 칼라_흰색,
	0x0102)
}
PRINTFORM  ({BASE:PLAYER:사정,5}/{MAXBASE:PLAYER:사정,5})
PRINTL

;조수정보 버프리스트
PRINT_SPACE TextMargin
PRINTFORM 조수  : 
SIF ASSI >= 0
	CALL COLORPRINT(@"%NAME:ASSI,12,LEFT%", TALENT:ASSI:머리색)
PRINTFORM 적용중인 버프: 
SIF TFLAG:주도권반전
	PRINT [주도권반전]
PRINTL
CUSTOMDRAWLINE -

;PALAMS 출력
CALL SHOW_TRAIN_TARGET_PALAM
PRINTL

;M이미지 B이미지 CV이미지 A이미지
CALL SHOW_TRAIN_TARGET_ERO_IMAGES

CUSTOMDRAWLINE -

;조교계열 버튼
CALL PRINTBUTTON_CENTER(@"[  애무 계열  ]", 조교_애무계열, 8, 1, TFLAG:조교페이지 == 0)
CALL PRINTBUTTON_CENTER(@"[  삽입 계열  ]", 조교_삽입계열, 8, 1, TFLAG:조교페이지 == 1)
CALL PRINTBUTTON_CENTER(@"[  고통 계열  ]", 조교_SM계열, 8, 1, TFLAG:조교페이지 == 2)
CALL PRINTBUTTON_CENTER(@"[  수치 계열  ]", 조교_수치계열, 8,1, TFLAG:조교페이지 == 3)
CALL PRINTBUTTON_CENTER(@"[조교/촉수계열]", 조교_조수촉수계열, 8,1, TFLAG:조교페이지 == 4)
CALL PRINTBUTTON_CENTER(@"[특수/도구계열]", 조교_특수도구계열, 8,1, TFLAG:조교페이지 == 5)
PRINTL
CUSTOMDRAWLINE -

;============================================================================== 
;TRAIN State
;@SHOW_USERCOM: 유저가 정의하는 조교 메뉴를 출력하는 함수
;기본적으로 시스템메뉴(조수와교대, 조교종료 등)을 출력하는데 사용하지만,
;지금 구조는 EX_COM_ABLE##을 이용해 실행가능한 조교리스트도 출력한다.
;============================================================================== 
@SHOW_USERCOM
#DIM 출력된조교수

;조교 메뉴 출력
출력된조교수 = 0
SELECTCASE TFLAG:조교페이지
CASE 0
	FOR LOCAL, 101, 151
		CALL PRINT_COMABLE_TRAIN(LOCAL, 출력된조교수)
	NEXT
CASE 1
	FOR LOCAL, 201, 251
		CALL PRINT_COMABLE_TRAIN(LOCAL, 출력된조교수)
	NEXT
CASE 2
	FOR LOCAL, 301, 351
		CALL PRINT_COMABLE_TRAIN(LOCAL, 출력된조교수)
	NEXT
CASE 3
	FOR LOCAL, 401, 451
		CALL PRINT_COMABLE_TRAIN(LOCAL, 출력된조교수)
	NEXT
CASE 4
	FOR LOCAL, 501, 551
		CALL PRINT_COMABLE_TRAIN(LOCAL, 출력된조교수)
	NEXT
CASE 5
	FOR LOCAL, 601, 651
		CALL PRINT_COMABLE_TRAIN(LOCAL, 출력된조교수)
	NEXT
ENDSELECT
PRINTL

CUSTOMDRAWLINE -
;시스템메뉴 출력
LOCALS = 의상을 바꾼다[{조교_의상교체}]
PRINTBUTTON @"%LOCALS,60,RIGHT%", 조교_의상교체
LOCALS = 장소를 바꾼다[{조교_이동하기}]
IF TEQUIP:야외노출중
	PRINTBUTTON @"%LOCALS,30,RIGHT%", 조교_이동하기
ELSE
	SETCOLOR 칼라_선택불가
	PRINTFORM %LOCALS,30,RIGHT%
	RESETCOLOR
ENDIF
PRINTL
LOCALS = 조수와 교대한다[{조교_조수교대}]
IF ASSI > 0
	PRINTBUTTON @"%LOCALS,60,RIGHT%", 조교_조수교대
ELSE
	SETCOLOR 칼라_선택불가
	PRINTFORM %LOCALS,60,RIGHT%
	RESETCOLOR
ENDIF
LOCALS = 주도권반전[{조교_주도반전}]
PRINTBUTTON @"%LOCALS,30,RIGHT%", 조교_주도반전
PRINTL
LOCALS = 능력표시(주인)[{조교_주인능력표시}]
PRINTBUTTON @"%LOCALS,30,RIGHT%", 조교_주인능력표시
LOCALS = 능력표시(대상)[{조교_노예능력표시}]
PRINTBUTTON @"%LOCALS,30,RIGHT%", 조교_노예능력표시
LOCALS = 능력표시(주인)[{조교_조수능력표시}]
PRINTBUTTON @"%LOCALS,30,RIGHT%", 조교_조수능력표시
PRINTL
LOCALS = 불결표시[{조교_불결표시}]
PRINTBUTTON @"%LOCALS,60,RIGHT%", 조교_불결표시
LOCALS = 조교종료[{메뉴_나가기}]
PRINTBUTTON @"%LOCALS,30,RIGHT%", 메뉴_나가기
PRINTL

IF PREVCOM >= 0
    PRINTL 
    PRINTFORML ＜전회 조교 커맨드:%TSTR:전회조교커맨드이름%\@(TFLAG:조수교대) ? (조수) # \@＞
ENDIF

@PRINT_COMABLE_TRAIN(TRAINNO, 출력된조교수)
#DIM TRAINNO
#DIM REF 출력된조교수
#DIM CONST 계행조교수 = 4

; 존재하는 TRAIN인지?
SIF STRLENS(TRAINNAME:TRAINNO) == 0
	RETURN

; 실행가능한 TRAIN인지?
TRYCALLFORM EX_COM_ABLE{TRAINNO}
SIF RESULT == 0
	RETURN
	
;파생되는 커맨드가 존재하는 경우, 파생커맨드로 변경한다. 실제 버튼 커맨드는 파생트리거번호가 된다.
RESULT = 0
TRYCALLFORM EXIST_DERIVED_TRAIN{TRAINNO}
IF RESULT > 0 && FLAG:파생조교출력플래그
	TRAINNO = RESULT
	SETCOLOR 칼라_크림 
ENDIF

TRYCCALLFORM COM_NAME{TRAINNO}
	PRINTBUTTON @"%TSTR:조교커맨드이름,14,RIGHT%[{TRAINNO,3}]   ", TRAINNO 
CATCH
	PRINTBUTTON @"%TRAINNAME:TRAINNO,14,RIGHT%[{TRAINNO,3}]   ", TRAINNO 
ENDCATCH
RESETCOLOR 

출력된조교수 ++
IF 출력된조교수 % 계행조교수 == 0
	PRINTL
ENDIF

;============================================================================== 
;TRAIN State
;@USERCOM: SHOW_USERCOM 이후 입력된 INPUT을 처리하는 함수
;============================================================================== 
@USERCOM
#DIM CHOICE

CLEARLINE 1 
CHOICE = RESULT

;시스템 메뉴 처리
SELECTCASE CHOICE	
CASE 조교_애무계열 TO 조교_특수도구계열 
	TFLAG:조교페이지 = CHOICE - 800
	CLEARLINE LINECOUNT - FLAG:라인카운트
CASE 조교_의상교체
	CALL CHANGE_CLOTHES(TARGET)
	CLEARLINE LINECOUNT - FLAG:라인카운트
CASE 조교_이동하기
	IF TEQUIP:야외노출중
		CALL MOVE_LOCATION
	ENDIF	
	CLEARLINE LINECOUNT - FLAG:라인카운트
CASE 조교_조수교대
	SIF ASSI < 0
		RETURN
	
	IF TFLAG:주도권반전
		PRINTW 주도권이 없으면 불가능합니다.
		RETURN
	ENDIF
	
	; 조수 대사 -> 대상 대사
    CALL KOJO_MESSAGE_CHANGEASSI
    CALL KOJO_MESSAGE_PLAYERCHANGE
    PLAYER = (ASSIPLAY) ? MASTER # ASSI
    ASSIPLAY = (ASSIPLAY) ? 0 # 1
    PRINTFORMW %조사처리(CALLNAME:PLAYER,"과")% 교대합니다.
	
CASE 조교_주도반전
	; 주도반전 조건 체크
	SIF TEQUIP:수면중 || TFLAG:실신중 || TEQUIP:구속중
		RETURN
		
	; 주도반전 시, 대상의 대사
    CALL KOJO_MESSAGE_LEADERCHANGE
	TFLAG:주도권반전 = !TFLAG:주도권반전
	IF TFLAG:주도권반전
		ATTACKER = TARGET
		DEFENDER = PLAYER
		PRINTFORMW %CALLNAME:TARGET%에게 주도권을 넘겨줬다.
	ELSE
		ATTACKER = PLAYER
		DEFENDER = TARGET
		PRINTFORMW %CALLNAME:TARGET%에게서 주도권을 되찾았다.
	ENDIF
	
	CLEARLINE LINECOUNT - FLAG:라인카운트
CASE 조교_노예능력표시
	CLEARLINE LINECOUNT - FLAG:라인카운트
CASE 조교_주인능력표시
	CLEARLINE LINECOUNT - FLAG:라인카운트
CASE 조교_주인능력표시
	CLEARLINE LINECOUNT - FLAG:라인카운트
CASE 조교_불결표시
	CALL PRINT_STAIN
	CLEARLINE LINECOUNT - FLAG:라인카운트
CASE 메뉴_나가기
	BEGIN AFTERTRAIN
	RETURN 1
ENDSELECT

;조교 메뉴 처리
SIF ( CHOICE < 0 || CHOICE >= VARSIZE("TRAINNAME") || TRAINNAME:CHOICE == "" )
	RETURN
	
;파생 조교 존재여부 더블 체크(트리거조교 실행 시, 파생조교로 변경한다)
TRYCALLFORM EXIST_DERIVED_TRAIN{CHOICE}
SIF RESULT != 0
	CHOICE = RESULT

TRYCALLFORM EX_COM_ABLE{CHOICE}
SIF RESULT == 0
	RETURN

;COM##을 호출한다.
TRYCALLFORM COM_NAME{CHOICE}
DOTRAIN CHOICE

RETURN 0

;============================================================================== 
;TRAIN State
;ComXXX 시작 전에 호출. 특정 조교 시작전에 체크하는 용도
;============================================================================== 
@EVENTCOM

;매 명령시마다 경험 및 상황 플래그 초기화
VARSET TFLAG, 0, 100, 200
VARSET TCVAR:TARGET:0, 0, 0, 200
VARSET TCVAR:MASTER:0, 0, 0, 200
SIF ASSI >= 0
    VARSET TCVAR:ASSI:0, 0, 0, 200

;============================================================================== 
;TRAIN State
;ComXXX 종료 후에 호출. 명령 실행 후 
;============================================================================== 
@EVENTCOMEND
#PRI
; 조교 종료 판결
BASE:체력 = MAX(BASE:체력, 0)
IF BASE:체력 <= 0 && !TFLAG:실신중
	PRINTFORMW ………………
	PRINTFORMW …………
	PRINTFORMW ……
	PRINTFORMW （격렬한 조교에 의해, %조사처리(CALLNAME:TARGET, "는")% 기절했습니다. 조교를 종료합니다）
	;순종 다운
	IF ABL:순종 > 0
		ABL:순종 -= 1
		PRINTFORML %CALLNAME:TARGET%의 순종이 1내렸다
	ENDIF
	;체력 회복 정지 플래그
	CFLAG:회복정지기간 += 2
	IF TALENT:회복빠름
		CFLAG:회복정지기간 -= 1
	ELSEIF TALENT:회복느림
		CFLAG:회복정지기간 += 1
	ENDIF
	BASE:체력 = 1
	BEGIN AFTERTRAIN
; 체력 한계 판결
ELSEIF BASE:체력 < 500 && !TFLAG:실신중
	PRINTW （체력이 한계에 도달했습니다. 조교를 종료합니다）
	BEGIN AFTERTRAIN
ENDIF

IF TFLAG:조교남은시간 < 0
	PRINTFORMW ………………
	PRINTFORMW （조교시간이 끝났습니다. 조교를 종료합니다）
	BEGIN AFTERTRAIN
ENDIF
	
@EVENTCOMEND
;조교 턴이 끝날 때마다 처리

;============================================================================== 
;AFTERTRAIN State
;Train 종료 후 호출
;============================================================================== 
@EVENTEND
#PRI
; 조교 종료 후 사전 처리
CBGCLEAR

@EVENTEND
CUSTOMDRAWLINE ━
PRINTL 조교를 종료했습니다

; 비디오 촬영 이벤트

; 체력/기력 증가 이벤트

; 일부 BASE 초기화

;마이너스 파라미터에 따른 스트레스 가산
CALL STRESS_CHECK

;무슨 구슬을 얻었는가
CALL JUEL_CHECK

;부정의 구슬 상쇄 체크
SIF JUEL:부정 > 0
    CALL DENIAL_CHECK

BEGIN ABLUP
